<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/product.css">
    <link rel="stylesheet" type="text/css" href="/products.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>
<body onload=" startTimer()">


<!--HEADER START-->
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <div class="logo-container">
        <h2 class="logo">ShoesX</h2>
    </div>
    <div class="main-nav">
        <ul>
            <li class="hover-underline-animation"><a href="#">New</a></li>
            <li class="hover-underline-animation"><a href="#">Men</a></li>
            <li class="hover-underline-animation"><a href="#">Women</a></li>
            <li class="hover-underline-animation"><a href="#">Kids</a></li>
            <li class="hover-underline-animation"><a class="sale" href="#">Sale</a></li>
        </ul>
    </div>
    <div id="icons">
        <ul>
            <input type="search" placeholder="Search">
            <li><img src="/images/acc.png"></li>
            <li class="cart" onclick="shoppingCart()"><img src="/images/cart.png">
                <% y = product.length %>
                <span class="counter"><%= y %></span></li>
        </ul>
    </div>
</nav>
<!--END OF HEADER-->

<!-- slider area -->
<div class="ads">
    <div class="ads-container">
        <p class="ads-md-text">#New Summer collection</p>
        <h1 class="ads-lg-text">Shoes Collection 2021</h1>
        <p class="ads-button"><a class="scrollLink" href="#move">
                <button class="btn-ads"> SHOP NOW</button>
            </a></p>
    </div>
    <div class="slide-circle-container">
    </div>
</div>
<!--End of slider area-->
<!--START OF PRODUCT-->
<div class="products">
    <div class="container">
        <h1 id="move" class="lg-title">New Shoes Collection</h1>
        <p class="text-light">With so many looks to choose from, ShoesX is your go-to for the perfect summer shoes.
            Shop our collection today! Slide into Summer with Cute Summer Shoes.The weather s warmed up and it s time
            to get your shoe collection summer-ready.</p>
        <div class="product-items">
            <!-- single product -->
            <!--MAIN LOOP-->
            <% for (let i = 0; i < products.length; i++) { %>
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <a href="/products/<%= products[i].id %>">
                                <img src="<%= products[i].product_image %>" alt="product image">
                            </a>
                        </div>
                        <div class="product-btns">
                            <button type="button" class="btn-cart"> add to cart
                                <span><i class="fas fa-plus"></i></span>
                            </button>
                            <button type="button" class="btn-buy"> buy now
                                <span><i class="fas fa-shopping-cart"></i></span>
                            </button>
                        </div>
                    </div>
                    <!--PRODUCT NAME+MODEL+PRICE-->
                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title"><%= products[i].product_brand %></h2>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="/products/<%= products[i].id %>"
                           class="product-name"><%= products[i].product_model %></a>
                        <p class="product-price-1">$<%= products[i].product_old_price %></p>
                        <p class="product-price-1">$ <%= products[i].product_price %></p>
                    </div>
                    <div class="off-info">
                        <h2 class="sm-title">25% off</h2>
                    </div>
                </div>
            <% } %>
        </div>

    </div>
</div>


<!-- Footer-->
<footer class="footer">
    <diV class="footer_section_1">
        <div class="col-1">
            <h3>Information</h3>
            <ul class="col-1-list">
                <li>Help</li>
                <li>Track order</li>
                <li>Delivery and returns</li>
                <li>10% Student Discount</li>
            </ul>
        </div>
        <div class="col-2">
            <h3>Quick links</h3>
            <ul class="col-2-list">
                <li>About Us</li>
                <li>Services</li>
                <li>My orders</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="col-3">
            <h3>Categories</h3>
            <ul class="col-2-list">
                <li>New release</li>
                <li> Men</li>
                <li>Women</li>
                <li> Kids</li>
            </ul>
        </div>
        <div class="col-4">
            <h3>The good stuff in your inbox</h3>
            <p>News & updates from bedo Store. <br>No spam , we promise.</p>
            <div class="newsletter">
                <input class="email" type="text" placeholder="example@example.com">
                <input class="SUBSCRIBE" type="submit" value="SUBSCRIBE">
            </div>
            <div class="social-links">
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-pinterest"></i>
                </a>

            </div>
        </div>
    </div>

    <div class="footer_section_2">
        <div class="copy-right">
            <p>This website is made by <span style="color: white; font-weight: bolder">bedo</span> Copyright ©2021 All
                rights reserved</p>
        </div>
        <div class="payment-icon">
            <div><img src="/images/Payment-Method.png">
                <img src="/images/Payment-Method-1.png">
                <img src="/images/Payment-Method-2.png">
                <img src="/images/Payment-Method-3.png">
                <img src="/images/Payment-Method-4.png">
            </div>
        </div>
    </div>
</footer>
<!--END OF FOOTER-->

<script>
    function shoppingCart() {
        window.location.replace("/cart")
    }

    /*SLOW SCROLL DOWN FUNCTION J.QUERY*/
    $(document).ready(function () {
        $("a.scrollLink").click(function (event) {
            event.preventDefault();
            $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top
            }, 500);
        });
    });

    /*AUTO SLIDER*/
    var images = ['/images/xhero.jpg',
        '/images/lolo.jpg',
        '/images/ximg.jpg',
    ];
    var img = document.querySelector(".ads");
    function displayImage(x) {
        img.style.backgroundImage = "linear-gradient(0deg, rgba(56, 55, 55, 0.3), rgba(56, 55, 55, 0.3)),url(" + images[x] + ")";
        /*img.innerText = images[x];*/
    }
    function startTimer() {
        var x = 0;
        displayImage(x);
        setInterval(function () {
            x = x + 1 >= images.length ? 0 : x + 1;
            displayImage(x);
        }, 6000);
    }

</script>
</body>
</html>

