<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/product.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

</head>
<body>

<!--HEADER START-->
<nav>
    <input type="checkbox" id="check">

    <label for="check" class="checkbtn">
        <i onClick="toggleSidebar()" class="fas fa-bars"></i>
    </label>
    <div class="logo-container">
        <h2 class="logo" onclick=" returnHome()" >ShoesX</h2>
    </div>
    <div class="main-nav">
        <ul>
            <li class="hover-underline-animation"><a href="#">New</a></li>
            <li class="hover-underline-animation"><a href="#">Men</a></li>
            <li class="hover-underline-animation"><a href="#">Women</a></li>
            <li class="hover-underline-animation"><a href="#">Kids</a></li>
            <li class="hover-underline-animation"><a class="sale" href="#">Sale</a></li>
        </ul>
    </div>
    <div id="icons">
        <ul>
            <input type="search" placeholder="Search">
            <li ><img src="/images/acc.png"></li>
            <li class="cart" onclick="shoppingCart()"><img src="/images/cart.png">
                <% y = products.length %>
                <span class="counter"><%= y %></span></li>
        </ul>
    </div>
</nav>
<!--END OF HEADER/NAV-->

<!--Current page-->
<div class="current-page">
    <p class="categories">MEN/ MENS SHOES</p>
    <p class="men-shoes">Men’s Shoes & Boots</p>
</div>


<!--START OF PRODUCTS-->
<div class="card-wrapper">
    <!--MAIN LOOP-->
    <% for (let i = 0; i < product.length; i++) { %>

        <div class="card">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img id="featured" src="<%= product[i].product_image %>" alt="shoe image">
                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item">
                            <img  class="thumbnail active"src="<%= product[i].product_image_1 %>" alt="shoe image">
                    </div>
                    <div class="img-item">
                            <img class="thumbnail" src="<%= product[i].product_image_2 %>" alt="shoe image">
                    </div>
                    <div class="img-item">
                            <img class="thumbnail" src="<%= product[i].product_image_3 %>" alt="shoe image">
                    </div>
                    <div class="img-item">
                            <img class="thumbnail" src="<%=  product[i].product_image %>" alt="shoe image">
                    </div>
                </div>
            </div>
            <form method="post" action="/products/<%= product[i].id %>" onsubmit="">
            <!-- card right -->
            <div class="product-content">
                <h2 class="product-title"><%= product[i].product_brand %></h2>
                <p href="#" class="product-model"><%= product[i].product_model %></p>
                <div class="product-rating">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star-half-alt"></i></span>
                    <span>4.7(21)</span>
                </div>
                <div class="product-price">
                    <p class="last-price">Old Price: <span>$<%= product[i].product_old_price %></span></p>
                    <p class="new-price">New Price:<span>$<%= product[i].product_price %></span></p>
                </div>
                <div class="product-detail">
                    <ul class="select-options">
                        <li>
                            <label for="size">Size</label>
                            <select  required name="product_sizee"  class="custom-select" id="size" >
                                <option disabled selected value="" >Choose Options</option>
                                <option value="<%= product[i].product_size_1 %>"><%= product[i].product_size_1 %></option>
                                <option value="<%= product[i].product_size_2 %>"><%= product[i].product_size_2 %></option>
                                <option value="<%= product[i].product_size_3 %>"><%= product[i].product_size_3 %></option>
                            </select>
                        </li>
                        <li>
                            <label for="color">Colour</label>
                            <select required  name="product_colorr" class="custom-select" id="color" >
                                <option disabled selected value="">Choose Options</option>
                                <option value="<%= product[i].product_color_1 %>"><%= product[i].product_color_1 %></option>
                                <option value="<%= product[i].product_color_2 %>"><%= product[i].product_color_2 %></option>
                                <option value="<%= product[i].product_color_3 %>"><%= product[i].product_color_3 %></option>
                            </select>
                        </li>
                    </ul>
                    <ul class="select-option-2">
                        <li>
                            <label for="width">Width</label>
                            <select required name="product_widthh"  class="custom-select" id="width" >
                                <option disabled selected value="" >Choose Options</option>
                                <option value="<%= product[i].product_width_1 %>"><%= product[i].product_width_1 %></option>
                                <option value="<%= product[i].product_width_2 %>"><%= product[i].product_width_2 %></option>
                                <option value="<%= product[i].product_width_3%>"><%= product[i].product_width_3%></option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="purchase-info">
                    <label for="quantity">Quantity</label>
                    <input required name="product_quantityy" type="number" min="0" placeholder="0" >
                    <button type="submit" class="btn">
                        Add to Cart <i class="fas fa-shopping-cart"></i>
                    </button>
                    <p><i style="margin-right: 5px" class="fa fa-truck" aria-hidden="true"></i>This item is in-stock & normally ships within 2-3 business day.</p>
                </div>
                <div class="about-item">
                    <h2>About this ite: </h2>
                    <p><%= product[i].product_description %></p>
                </div>
            </div>
            </form>
        </div>
    <% } %>
</div>
<!--END START OF PRODUCT-->

<!-- Footer-->
<footer class="footer">
    <diV class="footer_section_1">
        <div class="col-1">
            <h3>Information</h3>
            <ul class="col-1-list">
                <li>Help</li>
                <li>Track order</li>
                <li>Delivery and returns</li>
                <li>10% Student Discount</li>
            </ul>
        </div>
        <div class="col-2">
            <h3>Quick links</h3>
            <ul class="col-2-list">
                <li>About Us</li>
                <li>Services</li>
                <li>My orders</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="col-3">
            <h3>Categories</h3>
            <ul class="col-2-list">
                <li>New release</li>
                <li> Men</li>
                <li>Women</li>
                <li> Kids</li>
            </ul>
        </div>
        <div class="col-4">
            <h3>The good stuff in your inbox</h3>
            <p>News & updates from bedo Store. <br>No spam , we promise.</p>
            <div class="newsletter">
                <input class="email" type="text" placeholder="example@example.com">
                <input class="SUBSCRIBE" type="submit" value="SUBSCRIBE">
            </div>
            <div class="social-links">
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="footer_section_2">
        <div class="copy-right">
            <p>This website is made by <span style="color: white; font-weight: bolder">bedo</span> Copyright ©2021 All
                rights reserved</p>
        </div>
        <div class="payment-icon">
            <div><img src="/images/Payment-Method.png">
                <img src="/images/Payment-Method-1.png">
                <img src="/images/Payment-Method-2.png">
                <img src="/images/Payment-Method-3.png">
                <img src="/images/Payment-Method-4.png">
            </div>
        </div>
    </div>
</footer>
<!--END OF FOOTER-->

<script type="text/javascript">
    function returnHome(){
        window.location.replace("/")
    }
    function shoppingCart(){
        window.location.replace("/cart")
    }

    let thumbnails = document.getElementsByClassName('thumbnail')

    let activeImages = document.getElementsByClassName('active')

    for (var i=0; i < thumbnails.length; i++){

        thumbnails[i].addEventListener('mouseover', function(){
            console.log(activeImages)

            if (activeImages.length > 0){
                activeImages[0].classList.remove('active')
            }

            this.classList.add('active')
            document.getElementById('featured').src = this.src
        })
    }



</script>
</body>
</html>

